$border-color-deafult: var(--color-light) !default;

.border {
  border: {
    style: solid;
    width: 1px;
    color: $border-color-deafult;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .border { border-width: 0.5px }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .border { border-width: 0.333333px }
}

@each $key, $value in $colors-var {
  .border-#{$key} {
    border-color: $value;
  }
}