
$colors: () !default;
$color-prefix: color !default;
$colors: map-merge((
  primary: #333333,
  secondary: #666666,
  info: #03a9f4,
  success: #4caf50,
  warn: #ff9800,
  error: #F44336,
  dark: #000000,
  light: #dddddd,
  'gray': gray,
  'white': #ffffff,
), $colors);

$colors-var: ();

@each $key, $value in $colors {
  $colors-var: map-merge($colors-var, ($key: var(--#{$color-prefix}-#{$key})));
}
:root {
  @each $key, $value in $colors {
    --#{$color-prefix}-#{$key}: #{$value};
  }
}